  <ion-pane class="options">
      <ion-header-bar class="bar-stable">
        <a href="#/app/trips" class="button icon-left ion-chevron-left button-clear button-dark" >Back</a>
        <h1 class="title">Alternatives</h1>
      </ion-header-bar>
      <ion-content class="padding">
      <div class="button-bar">
        <a id="first" ng-click="tab($event)" class="button button-light first">Option A</a>
        <a id="second" ng-click="tab($event)" class="button button-light second">Option B</a>
        <a id="third" ng-click="tab($event)" class="button button-light third">Allianz</a>
      </div>
      <div class="tab">
        <div class="list card" ng-class="{'hidden': {{$index}} !== 0}" ng-repeat="alt in alternatives" data-index="{{$index}}">
            <h2>{{alt.name}}</h2>
            <p>{{alt.description}}</p>
            <p>Cost: {{alt.price}}</p>
            <p><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i></p>
        </div>        
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Book
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-android-checkbox"></i>
            Save
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>
      </div>
      <div class="tab" id="allianz" >
        <div class="list card hidden" ng-repeat="all in allianz" data-index="{{$index}}">
          <div class="item item-divider">
            <h2>{{all.name}}</h2>
            <p>{{all.description}}</p>
            <p>Cost: £ {{all.price}}</p>
            <p><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i></p>
           <!--  <a class="button button-light" href="#">
            <i class="icon ion-android-checkbox"></i>
            Save
          </a> -->
          </div>  
        </div>        
       <!--  <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Book
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-android-checkbox"></i>
            Save
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div> -->
      </div>
        
      </ion-content>
    </ion-pane>