<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Notis</h1>
  </ion-header-bar>
  <ion-content class="padding gray-container">
    <div class="hellotext-container">
      Hello user, welcome to Notis. We make sure you have a safe and mindfree journey!
    </div>
    <div class="addtrip-container">
      <a href="#/app/new-trip"
           class="item item-text-wrap">
          <div class="plus-container"><i class="icon-add icon-big"></i></div>
      </a>
    </div>
  </ion-content>
</ion-pane>