<ion-pane class="notis">
  <ion-content class="padding">
    <div class="list">
      <div class="col">
         <h3 class="login-text padding-top padding-bottom">Register below or log in with Google account</h3>
      </div>
    </div>
   
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
    </div>
    <div class="list">
      <button class="button button-block button-positive" ng-click="skip()">Register</button>
    <button class="button button-block primary login" ng-click="login()">Login with Google+</button>
    </div>
    
  </ion-content>
</ion-pane>