<ion-pane class="logo-page">
	<ion-content class="padding">
		<div class="logo-container">Notis</div>
		<div class="logo-underline"><img src="img/line.png" alt="Notis">
		</div>
	</ion-content>
</ion-pane>