<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right"  class="blue-background">
    <ion-header-bar class="bar-stable">
      <a href="#/app/trips" class="button icon-left ion-chevron-left button-clear button-dark" menu-close="right">Back</a>
      <h1 class="title">Profile</h1>
      <a href="#/app/login" menu-close="right" class="float-right">Logout</a>
    </ion-header-bar>
    <ion-content>
    <div class="list">
      <div class="item item-avatar profile-list">
        <img src="{{user.picture}}" alt="{{user.given_name}}" />
        <h2 class="profile-list">{{user.given_name}} {{user.family_name}}</h2>
      </div> 
    </div>
    <div class="profile-container">
      <ul class="list">
        <li class="item profile-list">Default Locations</li>
        <li class="item profile-list">Add New Location</li>
        <li class="item profile-list">Travel History</li>
        <li class="item profile-list">Terms and Conditions</li>
        <li class="item profile-list">Settings</li>
      </ul>
    </div>
      
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
