<ion-pane class="new-trip">
  <ion-header-bar class="bar-stable">
    <a class="cancel" href="#/app/trips">Cancel</a>
    <h1 class="title">New Trip</h1>
    <a class="save" href="#/app/trips" ng-click="submit()">Save</a>
  </ion-header-bar>
  <ion-content>
  <div class="gray-container primary">
    <div class="list">
      <label class="item item-input">
        <!-- <input type="text" placeholder="Office Address" id="origin"> -->
        <label class="item item-input">
        <input type="text" id="origin" placeholder="Office address" ng-model="origin" ng-change="searchOr()" list="googleOr">
        <datalist id="googleOr" ng-show="results.length">
          <option ng-repeat="result in results">{{result.description}}</option>
        </datalist>
      </label>
      </label>
    </div>
      <div class="icon-container">
        <button class="button icon icon-bus minth-reverse"></button><button class="button icon icon-taxi minth"></button>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <i class="icon icon-plane minth no-border"></i>
    </div>
    <div class="col col-75">
      <div class="list">
        <label class="item item-input">
          <input id="flightChooser" ng-model="flight" ng-change="getFlight()" type="text" placeholder="Choose flight" class="awesomplete" list="flyFrom" >
          <datalist id="flyFrom">
            <option  ng-repeat="item in items" data-index="{{$index}}" >{{ item.fromAirport }} - {{ item.toAirport }} ({{ item.departureTime.month }} {{ item.departureTime.dayOfMonth }})</span></option>
          </datalist>
        </label>
       <!--  <label class="item item-input">
          <input type="text" placeholder="To">
        </label> -->
        <span>or</span>
        <label class="item item-input flight-number">
          <input type="text" placeholder="Flight number">
        </label>
      </div>   
    </div>
  </div> 
  <div class="gray-container primary">
    <div class="icon-container">
      <button class="button icon icon-bus minth-reverse"></button><button class="button icon icon-taxi minth"></button>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" id="destination" placeholder="Destination address" ng-model="destination" ng-change="searchDest()" list="googleDest">
        <datalist id="googleDest" ng-show="results.length">
          <option ng-repeat="result in results">{{result.description}}</option>
        </datalist>
      </label>
    </div>
  </div>

  </ion-content>
</ion-pane>
