<ion-pane class="blue-background">
  <ion-header-bar class="bar-stable blue-background">
    <a href="#/app/trips" class="button icon-left ion-chevron-left button-clear button-dark" menu-close="right">Back</a>
    <h1 class="logo-container">Notis</h1>
  </ion-header-bar>

  <ion-content class="padding">
    <h4>{{trip[1].flight.departureTime.dayOfMonth}} {{trip[1].flight.departureTime.month}} {{trip[1].flight.departureTime.year}}</h4>
    <div class="card trip-card" ng-class="{'ok': trip[0].statusOk, 'alert': !trip[0].statusOk}">
      <a data-item="{{ trip.id }}"
         class="item item-text-wrap">
        <div class="row">
          <div class="col icon-thistrip">
            <div class="icon-container-thistrip">
              <i class="icon-bus icon-thistrip"></i>
            </div>
          </div>
          <div class="col col-75 icon-thistrip">
            <div class="row firstrow-thistrip">            
                <div class="trip-card-time">{{trip[0].expectedArrivalTime}}</div><div class="trip-card-location">{{trip[0].location.address}}</div>
            </div>
            <div class="row">  
                <div class="trip-card-time">{{trip[0].expectedLeaveTime}}</div><div class="trip-card-location">{{trip[1].fromLocation}} Airport</div>
            </div>
            <div class="disrupt" ng-hide="trip[0].statusOk">
              <p>{{trip[0].statusReason}}</p>
              <button data-index="0" data-stage="{{trip[0].stageId}}" class="button primary" ng-click="getAlt($event)">Alternatives</button>
            </div>

          </div>
        </div>  
      </a>
    </div>
    <div class="card trip-card" ng-class="{'ok': trip[1].statusOk, 'alert': !trip[1].statusOk}">
      <a class="item item-text-wrap">
        <div class="row">
          <div class="col icon-thistrip">
            <div class="icon-container-thistrip">
              <i class="icon-plane icon-thistrip"></i>
            </div>
          </div>
          <div class="col col-75 icon-thistrip">
            <div class="row firstrow-thistrip">            
                <div class="trip-card-time">{{trip[1].expectedArrivalTime}}</div><div class="trip-card-location">{{trip[1].flight.fromAirport}} Airport</div>
            </div>
            <div class="row">  
                <div class="trip-card-time">{{trip[1].expectedLeaveTime}}</div><div class="trip-card-location">{{trip[1].flight.toAirport}} Airport</div>
            </div>
            <div class="disrupt" ng-hide="trip[1].statusOk">
              <p>{{trip[1].statusReason}}</p>
              <button data-index="1" data-stage="{{trip[1].stageId}}" class="button primary" ng-click="getAlt($event)">Alternatives</button>
            </div>
          </div>

        </div>  
      </a>
    </div>
    <div class="card trip-card" ng-class="{'ok': trip[2].statusOk, 'alert': !trip[2].statusOk}">
      <a data-item="{{ trip.id }}"
         class="item item-text-wrap">
        <div class="row">
          <div class="col icon-thistrip">
            <div class="icon-container-thistrip">
              <i class="icon-bus icon-thistrip"></i>
            </div>
          </div>
          <div class="col col-75 icon-thistrip">
            <div class="row firstrow-thistrip">            
                <div class="trip-card-time">{{trip[2].expectedLeaveTime}}</div><div class="trip-card-location">{{trip[2].fromLocation}} Airport</div>
            </div>
            <div class="row">  
                <div class="trip-card-time">{{trip[2].expectedArrivalTime}}</div><div class="trip-card-location">{{trip[2].location.address}}</div>
            </div>
            <div class="disrupt" ng-hide="trip[2].statusOk">
              <p>{{trip[2].statusReason}}</p>
              <button  data-index="2" data-stage="{{trip[2].stageId}}" class="button primary" ng-click="getAlt($event)">Alternatives</button>
            </div>
          </div>
        </div>  
      </a>
    </div>
  </ion-content>

