<ion-pane class="my-trips">
  <ion-header-bar class="bar-stable">
    <h1 class="logo-container">Notis</h1>
    <button class="button button-icon icon ion-happy-outline" menu-toggle="right"></button>
  </ion-header-bar>
  
  <ion-content class="padding">
    <div class="list intro" ng-class="{'hidden': items.length}">
      <h2>Hello There!</h2>
      <p>Start planning your next trip.</p>
    </div>

    <div class="plus-container"><a href="#/app/new-trip"
         class="item item-text-wrap"><i class="icon-add"></i><span>Add new journey</span></a>
    </div>
    <div ng-repeat="item in items" class="card trip-card" ng-class="{'ok': item[1].flight.statusOk, 'alert': !item[1].flight.statusOk}">
      <a ng-click="checkTrip($event)"
         href="#/app/trip/{{ $index }}"
         class="item item-text-wrap">
        <h2 class="trip-card-destination">{{item[1].flight.fromAirport}} Airport - {{item[1].flight.toAirport}} Airport</h2>
        <h3 class="trip-card-date">{{item[1].flight.departureTime.month}} {{item[1].flight.departureTime.dayOfMonth}} {{item[1].flight.departureTime.year}}</h3>
      </a>
    </div>
  </ion-content>
</ion-pane>