@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-n6yfmv');
	src:url('icomoon.eot?#iefix-n6yfmv') format('embedded-opentype'),
		url('icomoon.ttf?-n6yfmv') format('truetype'),
		url('icomoon.woff?-n6yfmv') format('woff'),
		url('icomoon.svg?-n6yfmv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
	content: "\e600";
}
.icon-bus:before {
	content: "\e601";
}
.icon-plane:before {
	content: "\e602";
}
.icon-profile:before {
	content: "\e603";
}
.icon-taxi:before {
	content: "\e604";
}


/* Awesomplete */

[hidden] { display: none; }

.visually-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

div.awesomplete {
	display: inline-block;
	position: relative;
}

div.awesomplete > input {
	display: block;
}

div.awesomplete > ul {
	position: absolute;
	left: 0;
	z-index: 1;
	min-width: 100%;
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	border-radius: .3em;
	margin: .2em 0 0;
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	text-shadow: none;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
	display: none;
}

@supports (transform: scale(0)) {
	div.awesomplete > ul {
		transition: .3s cubic-bezier(.4,.2,.5,1.4);
		transform-origin: 1.43em -.43em;
	}
	
	div.awesomplete > ul[hidden],
	div.awesomplete > ul:empty {
		opacity: 0;
		transform: scale(0);
		display: block;
		transition-timing-function: ease;
	}
}

/* Pointer */
div.awesomplete > ul:before {
	content: "";
	position: absolute;
	top: -.43em;
	left: 1em;
	width: 0; height: 0;
	padding: .4em;
	background: white;
	border: inherit;
	border-right: 0;
	border-bottom: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

div.awesomplete > ul > li {
	position: relative;
	padding: .2em .5em;
	cursor: pointer;
}

div.awesomplete > ul > li:hover {
	background: hsl(200, 40%, 80%);
	color: black;
}

div.awesomplete > ul > li[aria-selected="true"] {
	background: hsl(205, 40%, 40%);
	color: white;
}

div.awesomplete mark {
	background: hsl(65, 100%, 50%);
}

div.awesomplete li:hover mark {
	background: hsl(68, 101%, 41%);
}

div.awesomplete li[aria-selected="true"] mark {
	background: hsl(86, 102%, 21%);
	color: inherit;
}


body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

button.button.button-block.button-positive {
  background: #36EABD;
  border-color: #36EABD;
}

.login-text {
  margin-top: 30px;
  height: 50px;
}

.icon-container {
  padding: 15px 0px 15px 0px;
  margin: 10px 22px 10px 22px;
  text-align: center;
  border-color: #36EABD;
  font-size: 18px;
}

.gray-container {
  background-color: #F7F7F7;
}

.list {
  padding: 15px;
}

.minth {
  color: #36EABD;
}

.minth-background {
  background-color: #36EABD;
}

.pane.blue-background {
  background-color: #44487b;
}

.bar.bar-stable.blue-background {
  background-color: #44487b;
}

.bar.bar-stable .title {
  color: #fff;
}

.bar .title {
  color: #FFF;
}

.minth-reverse {
  font-color: #f7f7f7;
}

/*.primary-red {
	background-color: #E90D25;
}
*/
button.icon-bus.icon:before,
button.icon-taxi.icon:before,
button.icon-plane.icon:before {
	font-size: 36px;
}

button.icon.minth {
  border-color: #36EABD;
  border-width: 3px;
  width: 49%;
  border-radius: 0;
  color: #36EABD;
}

button.icon.minth-reverse {
  border-color: #36EABD;
  background: #36EABD;
  border-width: 3px;
  width: 49%;
  border-radius: 0;
  color: #f7f7f7;
}

button.primary.login {
	background-color: #FF0045;
	border: none;
	color: #f7f7f7;
	font-weight: bold;
}

.item.item-input {
  border-color: #F7F7F7 #F7F7F7 #C6C6C6 #F7F7F7;
  background: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 30px;
  margin-bottom: 5px;
  
}

.list {
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

button.no-border {
  border: 0px;
  background: none;
}

.trip-card {
	box-shadow: none;
	border-bottom: 2px solid #C6C6C6;
	text-align: center;
  	border-left: 10px #e23e50‬;
}

.blue-background .blue-background {
	border-bottom: none;
}

.blue-background .blue-background h1.logo-container,
.blue-background .blue-background a.button,
.blue-background .padding h4 {
	color: #f7f7f7;
}

.blue-background .padding h4 {
	text-align: center;
}

.blue-background .blue-background h1.logo-container {
	margin-top: 0;
	font-size: 2em;
	/*width: 100%;*/
	vertical-align: center;
	text-indent: 50%;
}

.trip-card-date {
	color: #C6C6C6;
	padding: 1.2em 0;
	margin-left: -32px;
}

.trip-card-destination {
	font-weight: bold;
	padding: 1.4em 0 0.8em 0;
	border: 0;
	border-bottom: 2px;
	margin-bottom: 5px;
}

.disrupt {
	padding-top: 1.4em;
	text-align: left;

}

.disrupt p {
	margin-bottom: 0.8em;
	font-weight: bold;
}

.disrupt button {
	width: 100%;
	border: none;
	background-color: #FF0045;
	color: #F7F7F7;
}

.card.trip-card.alert a {
  border-left: 12px solid #FF0045;
}

.card.trip-card.ok a {
  border-left: 12px solid #36EABD;
}

.row.firstrow-thistrip {
  margin: 10px 0;
  /*margin-bottom: 30px;*/
  text-align: left;
}

div.icon-thistrip:first-child {
  margin: 0px;
  padding: 0px;
  margin-right: 0.4em;
  border-right: 2px solid #C6C6C6;
}

div.trip-card-time {
  color: #C6C6C6;
  font-weight: 900;
  font-size: 13px;
  margin-left: 0px;
  padding-left: 0px;
  min-width: 28px;
  line-height: 1.4;
}

div.trip-card-location {
  font-size: 13px;
  margin-left: 10px;
  font-weight: 900;
  max-width: 200px;
  line-height: 1.4;
}

div.icon-container-thistrip {
  height: 90px;
  padding-top: 20px;
  margin-right: 0px;
  float: left;
}


.icon-bus.icon-thistrip {
  font-size: 40px;
  float: center;
  padding-right: 5px;
  margin-right: 5px;
}

.icon-plane.icon-thistrip {
  font-size: 40px;
  float: center;
  padding-right: 5px;
  margin-right: 5px;
}

.icon-bus.icon-thistrip {
  font-size: 40px;
  float: center;
  padding-right: 5px;
  margin-right: 5px;
}

.col.col-20 {
  width: 20%;
  

}

.col.col-80 {
  width: 80%;

}

.flight-number.item.item-input {
	display: inline-block;
	width: 80%;
	height: 38px;
	float: right;
}

.icon-add.icon-big {
  font-size: 100px;
  padding: 0px;
  margin: 0px;
}

.intro.list.hidden,
.hidden {
	display: none;
}

.plus-container {
    text-align: center;
    padding: 0;
    background-color: #36EABD; 
    margin-top: 2em;
}

.intro.list.hidden + .plus-container {
    text-align: center;
    padding: 0;
    background-color: #DFEDF3; 
}



.plus-container a {
	display: inline-block;
    text-align: center;
    padding: 0;
    width: 100%;
    background: transparent;
    border: none;
    vertical-align: middle;
    color: #48427C;
    padding: 1.8em 0 1em 0;
    border-bottom: 3px solid #68629C;
}

.plus-container a i {
	display: inline-block;
	width: 80px;
	height: 80px;
	overflow: hidden;
}

.plus-container a i:before {
	position: absolute;
	font-size:200px;
	margin-left: -110px;
	margin-top: -63px;
}

.plus-container a span {
	display: inline-block;
	position: relative;
	top: -37px;
	font-size: 1.2em;
	font-weight: bold;

}

.hellotext-container {
  height: 100px;
  margin-top: 60px;
  font-size: 20px;
}


.logo-container {
  margin-top: 230px;
  margin-bottom: 0px;
  font-size: 70px;
  text-align: center;
  color: #f7f7f7;
  font-family: 'Amatic SC', cursive;
}

.logo-background {
  
}

.logo-underline {
  background-color: transparent;
}

.logo-underline img {
  width: 90%;
  height: 80px;
  padding-left: 10px;
  position: absolute;
  overflow: hidden;
}

a .item.item-text-wrap {
  margin-left: 10px;
  background: #f7f7f7‬;
}
div.card.card-trip {
  background-color: #e23e50‬;
}

.new-trip,
.new-trip .primary,
.my-trips.pane {
	background-color: #48427C;
}

.new-trip .item label {
	border: none;
}

#origin {
	width: 400px;
}

.new-trip .bar-stable,
.options {
	background-color: #48427C;
	border-bottom: none;
}

.new-trip .row {
	background-color: #f7f7f7;
	padding: 2.4em 0;
}

.new-trip .row .col .list span {
	display: inline-block;
	margin-top: 1.2em;
	font-weight: bold;
	color: #48427C;
}

.new-trip .row .col .icon-plane {
	font-size: 55px;
	color: #36EABD;
}

.new-trip .cancel, .new-trip .save {
	padding: 0.5em;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	color: #DFEDF3;
}

.new-trip .save {
	position: absolute;
	display: inline-block;
	right: 0.5em;
	color: #FF0045;
}

.new-trip .item.item-input input,
.new-trip button.icon.minth-reverse {
	color: #48427C;
}
.new-trip .primary .item.item-input input,
.new-trip .bar-stable h1.title {
	color: #f7f7f7;
}

.new-trip button.icon.minth {
	background-color: transparent;
}

.new-trip ion-content {
	margin-top: 2em;
}

.my-trips.pane {
	background-image: url('../img/bg.png');
	background-size: cover;
}

.logo-page.pane {
  background-image: url('../img/bg-logo.png');
  background-size: cover;
}

.my-trips ion-header-bar.bar-stable {
	background: linear-gradient(to bottom, rgba(32,33,79,1), rgba(32,33,79,0.4));
	border-bottom: none;
}
.my-trips h1.logo-container {
	font-size: 2.6em;
	line-height: 2em;
	margin: 0 auto;
	width: 100%;
	text-indent: 55px;
}

.my-trips .ion-happy-outline {
	color: #DFEDF3;
}

.my-trips .ion-happy-outline:hover {
	color: #f7f7f7;
}

.my-trips .alert {
	border: none;
	border-left: 12px solid #FF0045;
}

.my-trips .ok {
	border: none;
	border-left: 12px solid #36EABD;
}


.my-trips .intro.list,
.my-trips .intro.list h2 {
	text-align: center;
	color: #f7f7f7;
	font-size: 2em;
}

.my-trips .intro.list {
	width: 11em;
	margin: 0 auto;
	line-height: 1.4em;
	font-weight: 600;
	margin-bottom: 1em;
}

.my-trips .intro.list h2 {
	font-size: 1.8em;
	margin-top: 3em;
}

.options .bar-stable {
	background: transparent;
	border: none;
}

.options .bar-stable a.icon-left,
.options .bar-stable h1.title {
	color: #F7F7F7;
}

.options .button.button-light.first {
	border: none;
	margin-bottom: none;
	border-radius: 0;
	/*height: 1.4em;*/
	border: 4px solid #fff;
}

.options .button.button-light.second {
	border: 4px solid #48427C;
}

.options .button.button-light.third {
	border-color: #48427C;
	border-width: 8px 0 4px 0;
}

.options .list.card,
.options .item {
	margin: 0;
	border: none;
	border-radius: 0;
	width: 100%;
	box-shadow: none;
}

.menu.blue-background {
  background-color: #44487b;
}

.menu .bar-header {
  background-color: #44487b;
  border-color: #44487b;
  color: #fff;
}

.button.button-dark.button-clear {
  color: #fff;
}

.profile-container {
  margin: 0px;
  padding: 0px;
}

.float-right {
  float: right;
}

.list {
  margin-left: 0px;
  margin-right: 0px;
}

.profile-list.item{
  background: #44487b;
  border-right: none;
  border-left: none;
  color: #fff;
  font-weight: 500;
}

.profile-list h2{
  color: #36EABD;
  background: #44487b;
  font-weight: 600;
}

.profile-list img {
  border: 3px solid #36EABD;
}

div.item .item-avatar .profile-list {
  border: none;
}

